<div class='demo-app'>
    <div class='demo-app-sidebar'>
      <div class='demo-app-sidebar-section' style="background-color: darkseagreen;">
        <h2 >Instructions</h2>
        <ul>
          <li>Select dates and you will be prompted to create a new event and subscribe it</li>
          <li>Drag, drop, and resize events</li>
          <li>Click an event to unsubscribe it</li>
        </ul>
      </div>
      <div  style="background-color: lightblue;"><h3 >Category Filter</h3>
      <div class='demo-app-sidebar-section'>
        <label>
          <input
            type='checkbox'
            [checked]='calendarOptions().allDaySlot'
            (change)='handleCalendarToggle()'
          />
          allDaySlot
        </label>
        <div class='demo-app-sidebar-section'>
        <label>
          <input
            type='checkbox'
            [checked]='calendarOptions().businessHours'
            (change)='handleBusiToggle()'
          />
          BusinessHours
        </label>
        </div>
      </div>
      <div  style="background-color:rgb(156, 144, 224);"><h3 >Events Filter</h3>
      <div class='demo-app-sidebar-section'>
        <label>
          <input
            type='checkbox'
            [checked]='calendarOptions().weekends'
            (change)='handleWeekendsToggle()'
          />
         weekends
        </label>
      </div>
      <div class='demo-app-sidebar-section'>
        <label>
          <input
            type='checkbox'
            [checked]='calendarOptions().weekNumbers'
            (change)='handleWeekersToggle()'
          />
          weekNumbers
        </label>
      </div>
      <div class='demo-app-sidebar-section'>
        <label>
          <input
            type='checkbox'
            [checked]='calendarOptions().displayEventTime'
            (change)='handledisplayToggle()'
          />
          DisplayEventTime
        </label>
      </div>
      </div>
    </div>
      <div class='demo-app-sidebar-section' style="background-color: lavender;">
        <h2>All Events ({{currentEvents().length}})</h2>
        <ul>
          <li *ngFor='let event of currentEvents()'>
            <b>{{event.startStr}}</b>
            <i>{{event.title}}</i>
          </li>
        </ul>
      </div>
    </div>
  
    <div class='demo-app-main' style="background-color:beige;">
      <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
        <ng-template #eventContent let-arg>
          <b>{{ arg.timeText }}</b>
          <i>{{ arg.event.title }}</i>
        </ng-template>
      </full-calendar>
    </div>
  
  </div>
<router-outlet></router-outlet>  
